@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .flex, .grid {
      display: block !important; /* Override flex/grid for print */
  }
  img {
      max-width: 100% !important; /* Ensure images don't overflow */
  }
  p, div {
      margin: 0 !important; /* Remove unnecessary margins */
      padding: 0 !important;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
body{
  background-color: #f5f5f8;
}
.ql-toolbar {
  background-color: #FAFAFA; /* Set your desired background color */
  position: static !important;
}

.ql-container {
  border: none !important; /* Ensure content area has no border */
}

.ql-editor {
  max-height: 75px; /* Adjust height as needed */
 /* Add padding for a better typing experience */
  flex-grow: 1;
}
.q1-wrapper {
  display: flex;
  flex-direction: column-reverse; /* Reverses the order to place the toolbar at the bottom */
  height: 100%; /* Ensure the wrapper takes up full height */
}

.quill-editor {
  position: relative;
}

/* Override the emoji picker dropdown positioning */
.ql-emoji-tooltip {
  top: -100px !important; /* Adjust this value based on your layout */
  z-index: 1000; /* Ensure the dropdown is on top */
}




#custom-toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.hide-scrollbar {
  /* For Firefox */
  scrollbar-width: none;

  /* For Webkit-based browsers (Chrome, Edge, Safari, etc.) */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


/* Custom Scrollbar for .custom-scrollbar class */


/* Custom Scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar (horizontal scrollbar) */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
 background-color: #bec6d3;  /* Gray color for the scrollbar thumb */
 border-radius: 6px; /* Border radius for rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker gray on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light gray track */
  border-radius: 6px; /* Border radius for the track */
}

/* Add this CSS to your stylesheet */
.skeleton {
  background: linear-gradient(-90deg, #f0f0f0 0%, #e0e0e0 50%, #f0f0f0 100%);
  background-size: 200% 200%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

